test.py
*.zip
*.txt
Thoughts.txt
/plots/
.DS_Store
/old_binary/
/wandb/
/ppo_logs/
outputs/
binary/
/.vscode/
/old_options_uniq_seq/
/old_options_uniq_seq_prob/
/venv/
__pycache__/
*.pyc
*.out
*.log
job_logs/
videos/
*.mp4
*.pkl
tree
*.png
*.jpg
*.jpeg